In [17]:
import pandas as pd
import numpy as np

In [18]:
temp = pd.read_csv("../Database/Players.csv")

In [19]:
temp

      Player Id  Year First Name     Last Name Team Position     Side
0       2530658  2013        Isa  Abdul-Quddus   NO        S  Defense
1       2539331  2013       Oday       Aboushi  NYJ       OG  Offense
2       2495101  2013        Sam          Acho  ARI       LB  Defense
3       2532783  2013       Mike         Adams  PIT       OT  Offense
4       2505708  2013       Mike         Adams  DEN        S  Defense
...         ...   ...        ...           ...  ...      ...      ...
5734    2508063  2016     Willie         Young  CHI       LB  Defense
5735    2532980  2016      Kevin       Zeitler  CIN       OG  Offense
5736    2555268  2016    Anthony        Zettel  DET       DT  Defense
5737    2507948  2016      Frank         Zombo   KC       LB  Defense
5738        846  2016     Jeremy        Zuttah  BAL        C  Offense

[5739 rows x 7 columns]

In [20]:
temp = temp.filter(['Player Id','First Name','Last Name','Position'])

In [21]:
temp = temp.drop_duplicates()
temp.reset_index(drop=True, inplace=True)

In [24]:
temp.to_csv ('../Database/PlayersInfo.csv', index = False, header=True)

In [ ]:
UPDATE PlayersInfo
SET Position = "SF"
WHERE Position = "S";