In [2]:
import pandas as pd
import numpy as np

In [3]:
teamsDict = {
      'Houston Texans' : "HOU",
      'Oakland Raiders' : "LV",
      'Las Vegas Raiders' : "LV",
      'Miami Dolphins' : "MIA",
      'Atlanta Falcons': "ATL",
      'Washington Redskins' : "WAS",
      'Washington Football Team' : "WAS",
      'San Francisco 49ers' : "SF",
      'New Orleans Saints' : "NO",
      'San Diego Chargers' : "SD",
      'Los Angeles Chargers' : "SD",
      'Dallas Cowboys' : "DAL",
      'Detroit Lions' : "DET",
      'Tennessee Titans' : "TEN",
      'Seattle Seahawks' : "SEA",
      'Kansas City Chiefs' : "KC",
      'Cleveland Browns' : "CLE",
      'Philadelphia Eagles' : "PHI",
      'Minnesota Vikings' : "MIN",
      'St. Louis Rams' : "LA",
      'Denver Broncos' : "DEN",
      'Buffalo Bills' : "BUF",
      'Baltimore Ravens' : "BAL",
      'New England Patriots' : "NE",
      'Tampa Bay Buccaneers' : "TB",
      'Chicago Bears' : "CHI",
      'Arizona Cardinals' : "ARI",
      'New York Jets' : "NYJ",
      'Green Bay Packers' : "GB",
      'Pittsburgh Steelers' : "PIT",
      'New York Giants' : "NYG",
      'Carolina Panthers' : "CAR",
      'Cincinnati Bengals' : "CIN",
      'Los Angeles Rams' : "LA",
      'Jacksonville Jaguars' : "JAX",
      'Indianapolis Colts' : "IND"
    }
def returnID(teams,wanted):
    return teams[wanted]

In [4]:
positionsDict = {
    'QB': 'QB',
    'RB': 'RB',
    'WR': 'WR',
    'TE': 'TE',
    
    'G': 'OG',
    'OG': 'OG',
    'T': 'OT',
    'OT': 'OT',
    'C': 'C',
    
    'DE': 'DE',
    'SS': 'S',
    'DB': 'CB',
    'CB': 'CB',
    'MLB': 'LB',
    'FS': 'S',
    'DT': 'DT',
    'OLB': 'LB',
    'ILB': 'LB',
    'NT': 'DT',
    'LB': 'LB',
    'SAF': 'S'
}

def getCorrectPos(posDict, pos):
    return posDict[pos]

In [5]:
def returndf(location, position,teams,side):
    toreturn = pd.read_csv(location)
    toreturn = toreturn[(toreturn['Year']>=2013) & (toreturn['Year']<=2016) & (toreturn['Position'] == position)]
    toreturn = toreturn.filter(['Player Id','Year','Name','Position','Team'])
    toreturn['Player Id'] = toreturn['Player Id'].str.extract('(\d+)', expand=False).astype(int)
    toreturn = toreturn.replace({"Team": teams})
    toreturn = toreturn.replace({"Position": positionsDict})
    toreturn["Side"] = side
    toreturn.reset_index(drop=True, inplace=True)
    return toreturn

In [6]:
def splitLine(location, positions,teams,side):
    toreturns = []
    for position in positions:
        toreturn = returndf(location, position, teams, side)
        toreturns.append(toreturn)
    ouput = pd.concat(toreturns, axis=0)
    ouput.reset_index(drop=True, inplace=True)
    return ouput

In [7]:
offensiveLinePositions = ["G", 'C', 'OG', 'T', 'OT']
defensivePositions = ['DE', 'SS', 'DB', 'CB', 'MLB', 'FS', 'DT', 'OLB', 'ILB', 'NT', 'LB', 'SAF']

QBs = returndf("../newdata/Career_Stats_Passing.csv","QB", teamsDict, "Offense")
RBs = returndf("../newdata/Career_Stats_Rushing.csv","RB", teamsDict, "Offense")
WRs = returndf("../newdata/Career_Stats_Receiving.csv","WR",teamsDict, "Offense")
TEs = returndf("../newdata/Career_Stats_Receiving.csv","TE",teamsDict, "Offense")
OLs = splitLine("../newdata/Career_Stats_Offensive_Line.csv", offensiveLinePositions, teamsDict, "Offense")
Def = splitLine("../newdata/Career_Stats_Defensive.csv", defensivePositions, teamsDict, "Defense")

In [8]:
Players = pd.concat([QBs, RBs, WRs, TEs, OLs, Def])
Players.reset_index(drop=True, inplace=True)
Names = Players["Name"].str.split(", ", n = 1, expand = True)
Players["First Name"] = Names[1]
Players["Last Name"] = Names[0]
Players.drop(['Name'], axis = 1, inplace = True)
order = ['Player Id', 'Year', 'First Name', 'Last Name', 'Team', 'Position', 'Side']
Players = Players[order]
Players.sort_values(by=['Year','Last Name', 'First Name'], inplace = True)
Players.reset_index(drop=True, inplace=True)

In [9]:
test = returndf("../newdata/Career_Stats_Receiving.csv",'',teamsDict, "Offense")

In [10]:
toreturn = pd.read_csv("../newdata/Career_Stats_Passing.csv")
toreturn = toreturn[(toreturn['Year']>=2013) & (toreturn['Year']<=2016)]
toreturn = toreturn.filter(['Player Id','Year','Name','Position','Team','Passing Yards'])
toreturn['Player Id'] = toreturn['Player Id'].str.extract('(\d+)', expand=False).astype(int)
toreturn = toreturn.replace({"Team": teamsDict})
toreturn = toreturn.replace({"Position": positionsDict})
toreturn["Side"] = "Offense"
toreturn.reset_index(drop=True, inplace=True)
nullsQB = toreturn[toreturn['Position'].isnull()]

toreturn = pd.read_csv("../newdata/Career_Stats_Rushing.csv")
toreturn = toreturn[(toreturn['Year']>=2013) & (toreturn['Year']<=2016)]
toreturn = toreturn.filter(['Player Id','Year','Name','Position','Team','Rushing Yards'])
toreturn['Player Id'] = toreturn['Player Id'].str.extract('(\d+)', expand=False).astype(int)
toreturn = toreturn.replace({"Team": teamsDict})
toreturn = toreturn.replace({"Position": positionsDict})
toreturn["Side"] = "Offense"
toreturn.reset_index(drop=True, inplace=True)
nullsRB = toreturn[toreturn['Position'].isnull()]

In [11]:
toreturn = pd.read_csv("../newdata/Career_Stats_Passing.csv")
toreturn = toreturn[(toreturn['Year']>=2013) & (toreturn['Year']<=2016)]
toreturn = toreturn.filter(['Player Id','Year','Name','Position','Team','Passing Yards'])
toreturn['Player Id'] = toreturn['Player Id'].str.extract('(\d+)', expand=False).astype(int)
toreturn = toreturn.replace({"Team": teamsDict})
toreturn = toreturn.replace({"Position": positionsDict})
toreturn["Side"] = "Offense"
toreturn.reset_index(drop=True, inplace=True)
nullsQB = toreturn[toreturn['Position'].isnull()]
nullsQB = nullsQB[(nullsQB['Passing Yards'] != '--')]
for index, row in nullsQB.iterrows():
    nullsQB.at[index,"Passing Yards"] = int(row['Passing Yards'].replace(',',''))

nullsQB = nullsQB[nullsQB['Passing Yards'] > 50]
nullsQB['Position'] = 'QB'
nullsQB.drop(['Passing Yards'], axis = 1, inplace = True) 

toreturn = pd.read_csv("../newdata/Career_Stats_Rushing.csv")
toreturn = toreturn[(toreturn['Year']>=2013) & (toreturn['Year']<=2016)]
toreturn = toreturn.filter(['Player Id','Year','Name','Position','Team','Rushing Yards'])
toreturn['Player Id'] = toreturn['Player Id'].str.extract('(\d+)', expand=False).astype(int)
toreturn = toreturn.replace({"Team": teamsDict})
toreturn = toreturn.replace({"Position": positionsDict})
toreturn["Side"] = "Offense"
toreturn.reset_index(drop=True, inplace=True)
nullsRB = toreturn[toreturn['Position'].isnull()]
nullsRB = nullsRB[(nullsRB['Rushing Yards'] != '--')]
for index, row in nullsRB.iterrows():
    nullsRB.at[index,"Rushing Yards"] = int(row['Rushing Yards'].replace(',',''))

nullsRB = nullsRB[nullsRB['Rushing Yards'] > 50]
nullsRB['Position'] = 'RB'
nullsRB.drop(['Rushing Yards'], axis = 1, inplace = True) 

toreturn = pd.read_csv("../newdata/Career_Stats_Receiving.csv")
toreturn = toreturn[(toreturn['Year']>=2013) & (toreturn['Year']<=2016)]
toreturn = toreturn.filter(['Player Id','Year','Name','Position','Team','Receiving Yards'])
toreturn['Player Id'] = toreturn['Player Id'].str.extract('(\d+)', expand=False).astype(int)
toreturn = toreturn.replace({"Team": teamsDict})
toreturn = toreturn.replace({"Position": positionsDict})
toreturn["Side"] = "Offense"
toreturn.reset_index(drop=True, inplace=True)
nullsWR = toreturn[toreturn['Position'].isnull()]
nullsWR = nullsWR[(nullsWR['Receiving Yards'] != '--')]
for index, row in nullsWR.iterrows():
    nullsWR.at[index,"Receiving Yards"] = int(row['Receiving Yards'].replace(',',''))

nullsWR = nullsWR[nullsWR['Receiving Yards'] > 50]
nullsWR['Position'] = 'WR'
nullsWR.drop(['Receiving Yards'], axis = 1, inplace = True)

In [12]:
nulls = nullsQB
for index, row in nullsRB.iterrows():
    if row['Player Id'] not in list(nullsQB['Player Id']):
        nulls = nulls.append(row)
for index, row in nullsWR.iterrows():
    if row['Player Id'] not in list(nullsQB['Player Id']) and row['Player Id'] not in list(nullsRB['Player Id']):
        nulls = nulls.append(row)

nulls
Names = nulls["Name"].str.split(", ", n = 1, expand = True)
nulls["First Name"] = Names[1]
nulls["Last Name"] = Names[0]
order = ['Player Id', 'Year', 'First Name', 'Last Name', 'Team', 'Position', 'Side']
nulls = nulls[order]

In [13]:
Players.head()

   Player Id  Year First Name     Last Name Team Position     Side
0    2530658  2013        Isa  Abdul-Quddus   NO        S  Defense
1    2539331  2013       Oday       Aboushi  NYJ       OG  Offense
2    2495101  2013        Sam          Acho  ARI       LB  Defense
3    2532783  2013       Mike         Adams  PIT       OT  Offense
4    2505708  2013       Mike         Adams  DEN        S  Defense

In [14]:
nulls.head()

     Player Id  Year First Name Last Name Team Position     Side
40     2495863  2013   Tarvaris   Jackson  SEA       QB  Offense
135    2506364  2014      Jason  Campbell  CIN       QB  Offense
136    2506364  2013      Jason  Campbell  CLE       QB  Offense
137    2506444  2014       Kyle     Orton  BUF       QB  Offense
138    2506444  2013       Kyle     Orton  DAL       QB  Offense

In [15]:
Players = pd.concat((Players,nulls),axis=0)
Players.sort_values(by=['Year','Last Name', 'First Name'], inplace = True)
Players.reset_index(drop=True, inplace=True)

In [16]:
Players

      Player Id  Year First Name     Last Name Team Position     Side
0       2530658  2013        Isa  Abdul-Quddus   NO        S  Defense
1       2539331  2013       Oday       Aboushi  NYJ       OG  Offense
2       2495101  2013        Sam          Acho  ARI       LB  Defense
3       2532783  2013       Mike         Adams  PIT       OT  Offense
4       2505708  2013       Mike         Adams  DEN        S  Defense
...         ...   ...        ...           ...  ...      ...      ...
5734    2508063  2016     Willie         Young  CHI       LB  Defense
5735    2532980  2016      Kevin       Zeitler  CIN       OG  Offense
5736    2555268  2016    Anthony        Zettel  DET       DT  Defense
5737    2507948  2016      Frank         Zombo   KC       LB  Defense
5738        846  2016     Jeremy        Zuttah  BAL        C  Offense

[5739 rows x 7 columns]

In [17]:
Players.to_csv ('../Database/Players.csv', index = False, header=True)