In [1]:
import pandas as pd
import numpy as np

In [2]:
teamsDict = {
  'Houston Texans' : "HOU",
  'Oakland Raiders' : "LV",
  'Las Vegas Raiders' : "LV",
  'Miami Dolphins' : "MIA",
  'Atlanta Falcons': "ATL",
  'Washington Redskins' : "WAS",
  'Washington Football Team' : "WAS",
  'San Francisco 49ers' : "SF",
  'New Orleans Saints' : "NO",
  'San Diego Chargers' : "SD",
  'Los Angeles Chargers' : "SD",
  'Dallas Cowboys' : "DAL",
  'Detroit Lions' : "DET",
  'Tennessee Titans' : "TEN",
  'Seattle Seahawks' : "SEA",
  'Kansas City Chiefs' : "KC",
  'Cleveland Browns' : "CLE",
  'Philadelphia Eagles' : "PHI",
  'Minnesota Vikings' : "MIN",
  'St. Louis Rams' : "LA",
  'Denver Broncos' : "DEN",
  'Buffalo Bills' : "BUF",
  'Baltimore Ravens' : "BAL",
  'New England Patriots' : "NE",
  'Tampa Bay Buccaneers' : "TB",
  'Chicago Bears' : "CHI",
  'Arizona Cardinals' : "ARI",
  'New York Jets' : "NYJ",
  'Green Bay Packers' : "GB",
  'Pittsburgh Steelers' : "PIT",
  'New York Giants' : "NYG",
  'Carolina Panthers' : "CAR",
  'Cincinnati Bengals' : "CIN",
  'Los Angeles Rams' : "LA",
  'Jacksonville Jaguars' : "JAX",
  'Indianapolis Colts' : "IND"
}

In [32]:
Players = pd.read_csv("../Database/Players.csv")

PassingStats = pd.read_csv("../newdata/Career_Stats_Passing.csv")
RushingStats = pd.read_csv("../newdata/Career_Stats_Rushing.csv")
ReceivingStats = pd.read_csv("../newdata/Career_Stats_Receiving.csv")
DefensiveStats = pd.read_csv("../newdata/Career_Stats_Defensive.csv")

PassingStats = PassingStats[(PassingStats['Year'] >= 2013)  &  (PassingStats['Year'] <= 2016)]
RushingStats = RushingStats[(RushingStats['Year'] >= 2013)  &  (RushingStats['Year'] <= 2016)]
ReceivingStats = ReceivingStats[(ReceivingStats['Year'] >= 2013)  &  (ReceivingStats['Year'] <= 2016)]
DefensiveStats = DefensiveStats[(DefensiveStats['Year'] >= 2013)  &  (DefensiveStats['Year'] <= 2016)]

PassingStats = PassingStats.filter(['Player Id', 'Year', 'TD Passes', 'Passing Yards', 'Passes Attempted', 'Ints', 'Team'])
RushingStats = RushingStats.filter(['Player Id', 'Year', 'Rushing TDs', 'Rushing Yards', 'Rushing Attempts', 'Fumbles', 'Team'])
ReceivingStats = ReceivingStats.filter(['Player Id', 'Year', 'Receiving TDs', 'Receiving Yards', 'Receptions', 'Fumbles', 'Team'])
DefensiveStats = DefensiveStats.filter(['Player Id', 'Year', 'Sacks', 'Ints', 'Total Tackles', 'Team'])

PassingStats = PassingStats.replace({"Team": teamsDict})
RushingStats = RushingStats.replace({"Team": teamsDict})
ReceivingStats = ReceivingStats.replace({"Team": teamsDict})
DefensiveStats = DefensiveStats.replace({"Team": teamsDict})

PassingStats['Player Id'] = PassingStats['Player Id'].str.extract('(\d+)', expand=False).astype(int)
RushingStats['Player Id'] = RushingStats['Player Id'].str.extract('(\d+)', expand=False).astype(int)
ReceivingStats['Player Id'] = ReceivingStats['Player Id'].str.extract('(\d+)', expand=False).astype(int)
DefensiveStats['Player Id'] = DefensiveStats['Player Id'].str.extract('(\d+)', expand=False).astype(int)

In [33]:
def dropBadRows(df, rows):
    for row in rows:
        df = df[df[row] != '--']
    return df

In [34]:
PassingStats = dropBadRows(PassingStats, ['TD Passes', 'Passing Yards', 'Passes Attempted', 'Ints'])
RushingStats = dropBadRows(RushingStats, ['Rushing TDs', 'Rushing Yards', 'Rushing Attempts', 'Fumbles'])
ReceivingStats = dropBadRows(ReceivingStats, ['Receiving TDs', 'Receiving Yards', 'Receptions', 'Fumbles'])
DefensiveStats = dropBadRows(DefensiveStats, ['Sacks', 'Ints', 'Total Tackles'])

In [35]:
PassingStats.reset_index(drop=True, inplace=True)
RushingStats.reset_index(drop=True, inplace=True)
ReceivingStats.reset_index(drop=True, inplace=True)
DefensiveStats.reset_index(drop=True, inplace=True)

In [37]:
def makeToInt(df, attrs):
    for attr in attrs:
        for index, row in df.iterrows():
            df.at[index,attr] = int(str(row[attr]).replace(',',''))
            
def makeToFloat(df, attrs):
    for attr in attrs:
        for index, row in df.iterrows():
            df.at[index,attr] = float(str(row[attr]).replace(',',''))

In [37]:
makeToInt(PassingStats, ['TD Passes', 'Passing Yards', 'Passes Attempted', 'Ints'])
makeToInt(RushingStats, ['Rushing TDs', 'Rushing Yards', 'Rushing Attempts', 'Fumbles'])
makeToInt(ReceivingStats, ['Receiving TDs', 'Receiving Yards', 'Receptions', 'Fumbles'])
makeToInt(DefensiveStats, ['Ints', 'Total Tackles'])
makeToFloat(DefensiveStats, ['Sacks'])

In [38]:
PassingStats.to_csv("../Database/PassingStats.csv")
RushingStats.to_csv("../Database/RushingStats.csv")
ReceivingStats.to_csv("../Database/ReceivingStats.csv")
DefensiveStats.to_csv("../Database/DefensiveStats.csv")

In [38]:
DefensiveStats = pd.read_csv("../newdata/Career_Stats_Defensive.csv")
DefensiveStats = DefensiveStats[(DefensiveStats['Year'] >= 2013)  &  (DefensiveStats['Year'] <= 2016)]
DefensiveStats = DefensiveStats.filter(['Player Id', 'Year', 'Sacks', 'Ints', 'Total Tackles', 'Team'])
DefensiveStats = DefensiveStats.replace({"Team": teamsDict})
DefensiveStats['Player Id'] = DefensiveStats['Player Id'].str.extract('(\d+)', expand=False).astype(int)
DefensiveStats = DefensiveStats.replace('--', 0)
DefensiveStats = dropBadRows(DefensiveStats, ['Sacks', 'Ints', 'Total Tackles'])
DefensiveStats.reset_index(drop=True, inplace=True)
makeToInt(DefensiveStats, ['Ints', 'Total Tackles'])
makeToFloat(DefensiveStats, ['Sacks'])

In [39]:
DefensiveStats.to_csv("../Database/DefensiveStats.csv")

In [40]:
DefensiveStats

      Player Id  Year Sacks Ints Total Tackles Team
0         79593  2013     0    0             0  TEN
1       2552444  2016     0    0             8  PIT
2       2552444  2015     0    0             0  PIT
3        494261  2016     1    4            95  CAR
4        494261  2015     1    7            90  CAR
...         ...   ...   ...  ...           ...  ...
5456    2542053  2016     0    0             9  NYJ
5457    2495459  2016     0    0             1   SF
5458    2495459  2015     0    0             1   SF
5459    2495459  2014     0    0             1  BAL
5460    2495459  2013     0    0             1  BAL

[5461 rows x 6 columns]